@tailwind base;
@tailwind components;
@tailwind utilities;

@import './typo.css';

html,
body,
:root {
  height: 100%;
}

@layer base {
}

@layer base {
  :root {
    --pc-color-gray-100: #f5f5f9;
    --pc-color-gray-200: #eaeaf0;
    --pc-color-gray-300: #c0c0c8;
    --pc-color-gray-400: #9a9aa4;
    --pc-color-gray-500: #75757f;
    --pc-color-gray-600: #3c3c47;
    --pc-color-gray-700: #31313e;
    --pc-color-gray-800: #272732;
    --pc-color-gray-900: #1a1a24;

    --pc-color-green: #00d287;
    --pc-color-red: #ff7562;
    --pc-color-violet: #9b8aff;
    --pc-color-blue: #1c92ff;
  }

  :root[class~='dark'] {
    --pc-color-gray-100: #1a1a24;
    --pc-color-gray-200: #272732;
    --pc-color-gray-300: #31313e;
    --pc-color-gray-400: #3c3c47;
    --pc-color-gray-500: #75757f;
    --pc-color-gray-600: #9a9aa4;
    --pc-color-gray-700: #c0c0c8;
    --pc-color-gray-800: #eaeaf0;
    --pc-color-gray-900: #f5f5f9;

    --pc-color-green: #00df8f;
    --pc-color-red: #ff8676;
    --pc-color-violet: #a495ff;
    --pc-color-blue: #3da2ff;
  }
}

@layer components {
  .icon-sm {
    width: 24px;
    height: 24px;
  }
  .icon-md {
    width: 28px;
    height: 28px;
  }
  .icon-lg {
    width: 36px;
    height: 36px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  transition: background-color 0.5s ease-in-out;
}

/* inline toolbar 내용이 안보여서 임시로 bg color 추가해둠 */
.ce-inline-toolbar--showed {
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* code block language select padding */
.ce-code__textarea pre,
.ce-code__textarea textarea {
  padding: 32px !important;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 1rem;
}

h5 {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 1rem;
}

h6 {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 1rem;
}
